#logo img {
  border-radius: 50%; /* Makes the image circular */
  width: 70px; 
  height: 70px; 
  object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  /* Additional styles for positioning*/
  position: absolute;
  top: 1px; 
  left: 5px; 
}

#logo2 img {
  width: 220px; 
  height: 70px; 
  object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  /* Additional styles for positioning*/
  position: absolute;
  top: 1px; 
  right: 1px; 
}

h1 {
  color: black;
  font-size: 2.5rem;
}


body {
  background-color: white; /* Light gray background */
  color: black;
}

.nav-tabs .nav-link{
  color: #00359bff;
  border-bottom: 1.5px solid #00359bff;
}

.nav-tabs .nav-link:hover{
  color: #00359bff;
  border-bottom: 1.5px solid white;
}

.nav-tabs{
  background-color: white;
}

.nav-tabs .nav-link.active:focus {
    border-bottom: 1.5px solid #00359bff;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #00359bff;
    border-bottom: 1.5px solid #00359bff;
}

.progress-bar {
  background-color: #00359bff;
}

a.page-link {
    color: #00359bff;
    background-color: white;
    border-color: #fff;
}

a.page-link:hover {
  
    color: #fff;
    background-color: #00359bff;
    border-color: #00359bff;
}



.nav-pagination .page-item.active .page-link,
.page-item.active > .page-link,
.page-item.active > a.page-link {
    z-index: 3;
    color: #fff;
    background-color: #00359bff; 
    border-color: #00359bff; 
}

input[type='text']:hover,
textarea:hover {
  border-color: #00359bff;
}

.shiny-input-number.form-control.shiny-bound-input:focus {
  border-color: #00359bff;
}

